@media screen and (max-width: 1100px) {
    main {
      flex-direction: column;
      align-items: center;
      width: 100vw;
    }

    #data-input {
      width: 100%;
      padding: 0 5vw;
    }

    .show-resume-btn {
      display: grid;
    }

    .btn-wrapper svg {
      width: 1em;
      height: 1em;
    }

    .print-btn {
      display: none;
    }

    .corner-buttons {
      margin-bottom: 1em;
    }

    .button-tooltip {
      font-size: 0.6em;
    }

    .resume-container {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 4vh 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--main-bg-color-half-opacity);
      font-size: min(1vw, 1.4142857vh);
    }

    #CV {
      width: min(100em, 21cm);
      height: min(100%, 29.7cm);
      overflow-y: auto;
      font-size: 1.6em;
    }

    .resume-header-text {
      font-size: 1.6em;
    }
  }

  @media screen and (max-width: 500px) {
    .corner-buttons {
      flex-direction: column;
    }
    .button-tooltip {
      top: 15%;
    }
  }

  @media screen and (min-width: 1600px) {
    body {
      display: flex;
      width: 100vw;
      justify-content: center;
      padding-top: 10vh;
    }
  }