@media print {
    @page {
      size: A4;
    }
    html,
    body {
      height: 100vh;
      overflow: hidden;
      visibility: hidden;
    }
    #CV {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
    .button-tooltip {
      display: none;
    }
  }